.navbar{
    background-image: linear-gradient(to right,
    rgb(21,45,81) 0%,
    rgb(71, 100, 145) 60%,
    rgb(21,45,81)  100%); 
    background-color: rgb(21,45,81); 
    padding: 10px 70px ;
    background-size: 200% auto; transition: 0.5s;
}

.btn{
    background-image: linear-gradient(to right,
                    rgb(231,76,60) 0%,
                    rgb(255, 166, 0) 45%,
                    rgb(231,76,60)  100%); 
    background-size: 200% auto; transition: 0.5s;
}


.btn:hover{
    background-position: right center;
    color: white;
}